
h1{
    font-size:40px;
    color:#263849;
    font-weight: 700;
}
.info{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    line-height: 125%;
    background-color: #eef2e2;
    padding:30px;
}
