.imageStyle{
    width: 250px; 
    height: 300px;
    border:20px solid black;
  }

.imageContainerStyle{
    display: flex;
    flex-wrap: wrap;
    background-color: #eef2e2;
    padding-left:4%;
  }

.imageContainerItemStyle{
    flex: 20%; 
    font-size:30px;
    font-weight:500;
    padding-top:3%;
    margin:0%;
  }