.footer{
    color: white;
    background-color: #5c5470;
    font-family: Sans-Serif;
    justify-content: space-between;
    height: 560px;
    padding-top:10px;
    padding-bottom:20px;
  }

  .footerbody{
    margin-left: 10px;
    font-family: times new roman;
    font-size: 30px;
    text-decoration: none;
    color: white;
  }

  .footerlists{
     display: flex;
     flex-direction: row;
      gap: 10% ;
    }
    